<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hello Flask!!</title>
    </head>
    <body>
        <h1>Hello Flask!! - {{name}}</h1>

        <button class="people-btn" type="button" name="button">Click</button>

        <p>alice:<span class="alice">-</span></p>
        <p>jin:<span class="jin">-</span></p>
	<iframe src="http://52.78.128.11/user" id="iframe" width="500" height="500"></iframe>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script type="text/javascript">

	    function test(){
		alert("test");
	    }

window.addEventListener('message', function(e) {
	  console.log(e.data); // { hello: 'parent' }
	  var item = localStorage.getItem('dummy');
	  console.log(item); // zerocho
	  document.getElementById('iframe').contentWindow.postMessage(item, '*');
});

            $(document).ready(function(){

                // .people-btn 엘리먼트가 클릭되었을때 함수가 실행
                $('.people-btn').on('click', function(){

                    // people 경로의 json 데이터를 가져오는 코드
                    $.getJSON("/people", function(data){
                        console.log(data);

                        // 데이터를 넣어줌
                        $('.alice').text(data.alice);
                        $('.jin').text(data.jin);
                    })
                })

            })
        </script>




    </body>
</html>
